.column {
  float: left;
  margin-right: 15px;
  width: 25%;
  height: 60px
  font-family: courier,arial,helvetica;
  border-radius: 20px;
  background: #ffff99;
}

.column:hover {
  text-decoration: underline dotted #006600;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


