.column {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  width: 21%;
  height: 70px
  font-family: courier,arial,helvetica;
  border-radius: 30px;
  background: #ffff99;
  box-shadow: 2px 2px 5px purple;
}

.increment {
  float: left;
  margin-right: 23px;
  width: 21%;
  height: 70px
  font-family: courier,arial,helvetica;

}

h2 {
    display: center;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0px;
    background-color: #cc0066;
    transform-origin: center;
    transition: transform 0.60s ease-out;
}

h2:hover::before{
    transform: scaleX(0.35);
    transform-origin: center;
}

h3 {
    display: inline-block;
    position: relative;
    margin-top: 30px;
}

h3::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #cc0066;
    transform-origin: bottom right;
    transition: transform 0.90s ease-out;
}

h3:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.plus {
    display: center;
    position: relative;
    margin-left: 40%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 20px; 
}


